@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Raleway", sans-serif;	
}

/*.inicial {
    background-color: rgb(9, 27, 35);
    background-image: url('../images/banner.png'), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 169, 221, 0) 50%, rgba(0, 0, 0, 0.6));
    background-size: cover;
}*/

#logo{
    background-color:rgba(122, 122, 122, 0.5);
    width: 268px;
    height: 268px;
    border-radius: 50%;
}

#logo img {
    display: flex;
    align-items: center;
    align-content: center;
}

h1 {
    font-size: 3.834rem;
    font-weight: 900;
}