@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Raleway", sans-serif;	
}

.inicial {
    background-color: rgb(9, 27, 35);
    background-image: url('../images/banner.png'), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 169, 221, 0) 50%, rgba(0, 0, 0, 0.6));
    background-size: cover;
    display: inline-block;
    width: 100%;

}

#logo{
    background-color:rgba(0, 0, 0, 0.205);
    width: 268px;
    height: 268px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 1.2rem;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

#inicial-parag {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    width: 38%;
    text-align: center;
    margin: 1.2rem auto;
}

#button-link {
    text-align: center;
    background: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    width: 326px;
    height: 57px;
    margin: auto;
    border: 2px solid;
    border-image-source: linear-gradient(#33A8DB, #1472B7);
    border-image-slice: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.3rem;
    transition: .3s;
}

#button-link:hover {
    box-shadow: 1px 1px 20px 1px #1472B7;
}
